footer.footer.section
  ._wrap.wrap
    +svg('main-logo', 'footer__logo-svg')
    ._nav
      ._nav-col
        ._nav-link О нас
        ._nav-link Отзывы
        ._nav-link Курсы
      ._nav-col
        ._nav-link FAQ
        ._nav-link Результаты
        ._nav-link Контакты
      ._nav-col
        ._nav-link Преподаватели
        ._nav-link Преподавания
        ._nav-link Наша жизнь
    ._contacts
      ._callback
        a(href="tel:+79771779417")._callback-phone +7 (937) 470-09-12
        ._callback-text перезвоните мне
      ._social-block
        a(href="#")._social-link
          +svg('fb')
        a(href="#")._social-link
          +svg('ig')
        a(href="#")._social-link
          +svg('vk')
