.footer {
  height: 318px;
  background: url('img/footer.png') no-repeat;
  background-size: contain;
  background-position-x: right;
  background-position-y: bottom;
  @media(max-width: 991px) {
    background-size: cover;
    height: 250px;
  }
  @media(max-width: 575px) {
    height: 380px;
  }
  &__wrap {
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 100px;
    @media(max-width: 1400px) {
      padding-top: 160px;
    }
    @media(max-width: 1199px) {
      padding-top: 190px;
    }
    @media(max-width: 991px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
  }
  &__nav {
    display: flex;
    margin: 0 117px;
    @media(max-width: 1199px) {
      margin: 0 50px;
    }
    @media(max-width: 575px) {
      flex-direction: column;
    }
  }
  &__nav-col {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      margin-right: 60px;
      @media(max-width: 1199px) {
        margin-right: 20px;
      }
      @media(max-width: 991px) {
        margin-right: 60px;
      }
      @media(max-width: 575px) {
        margin-right: 0;
      }
    }
    @media(max-width: 575px) {
      align-items: center;
    }
  }
  &__nav-link {
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s;
    &:not(:first-child) {
      margin-top: 9px;
      @media(max-width: 575px) {
        margin-top: 5px;
      }
    }
    &:hover {
      text-decoration: none;
      opacity: 1;
    }
    @media(max-width: 575px) {
      margin-top: 5px;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media(max-width: 991px) {
      flex-direction: row-reverse;
      margin-top: 20px;
    }
    @media(max-width: 575px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__callback-phone {
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    &:hover {
      text-decoration: none;
    }
  }
  &__callback {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: 0.4s;
    &:hover {
      margin-top: -3px;
      padding-bottom: 3px;
      @media(max-width: 991px) {
        margin-top: 0;
        padding-bottom: 0;
      }
    }
    @media(max-width: 991px) {
      margin-left: 40px;
    }
    @media(max-width: 575px) {
      margin-left: 0;
      align-items: center;
    }
  }
  &__callback-text {
    font-size: 14px;
    border-bottom: 1px dotted #ffffff;
    color: #ffffff;
    width: max-content;
    cursor: pointer;
  }
  &__social-block {
    margin-top: 25px;
  }
  &__social-link {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
  &__social-svg {
    &:hover {
      transition: 0.4s;
      stroke-width: 2;
    }
  }
  &__logo-svg {
    display: block;
    @media(max-width: 991px) {
      display: none;
    }
  }
}