footer.footer.section
  ._wrap.wrap
    +svg('main-logo', 'footer__logo-svg')
    nav._nav
      ._nav-col
        a(href="#" data-link="about")._nav-link О нас
        a(href="#" data-link="program")._nav-link Программа
        a(href="#" data-link="prepod")._nav-link Обучение
      ._nav-col
        a(href="#" data-link="life")._nav-link Наша жизнь
        a(href="#" data-link="faq")._nav-link FAQ
        //- a(href="#" data-link="results")._nav-link Результаты
      ._nav-col
        a(href="#" data-link="feedback")._nav-link Отзывы
        a(href="#" data-link="contacts")._nav-link Контакты
    ._contacts
      ._callback(data-role="callback")
        ._callback-phone +7 (977) 177-94-17
        ._callback-text перезвоните мне
      ._social-block
        a(href="https://www.facebook.com/RobboClubMoscow/" target="_blank")._social-link
          +svg('fb', 'footer__social-svg')
        a(href="https://www.instagram.com/robboclub.moscow.bibirevo.vdnh" target="_blank")._social-link
          +svg('ig', 'footer__social-svg')
        a(href="https://vk.com/robboclub_bibirevo" target="_blank")._social-link
          +svg('vk', 'footer__social-svg')
