.partners {
  padding: 55px 0 40px 0;
  &__wrap {
    align-items: center;
  }
  &__container {
    width: 100%;
    padding: 67px 0 60px 0;
  }
  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    transition: 0.4s;
    &:hover {
      opacity: 1;
    }
    @media(max-width: 991px) {
      opacity: 1;
    }
  }
  &__img {
    max-width: initial;
    @media(max-width: 767px) {
      max-width: 200px;
    }
  }
  &__nav {
    display: none;
    justify-content: center;
    width: 100%;
    .slider__next {
      margin-left: 60px;
    }
    .slider__prev {
      margin-right: 60px;
    }
    @media(max-width: 1199px) {
      display: flex;
    }
    @media(max-width: 991px) {
      margin-top: 40px;
    }
  }
}