.partners.section
  ._wrap.wrap
    h2._title.section__title.section__title_green Наши партнеры
    ._container
      .swiper-container(data-slider="partners")
        .swiper-wrapper
          .swiper-slide
            .partners__slide
              img(src="img/logo_ingria.png", alt="technopark").partners__img
          .swiper-slide
            .partners__slide
              img(src="img/linux-logo.png", alt="linux").partners__img
          .swiper-slide
            .partners__slide
              img(src="img/fab_lab_logo.png", alt="fablab").partners__img
          .swiper-slide
            .partners__slide
              img(src="img/logo_start.png", alt="program start").partners__img
          .swiper-slide
            .partners__slide
              img(src="img/skolkovo_logo.png", alt="skolkovo").partners__img