.advantages {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 353px;
    height: 666px;
    background: url('../advantages/img/decor-gray-left.png') no-repeat left;
    background-size: cover;
    @media(max-width: 575px) {
      display: none;
    }
  }
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 350px;
    height: 628px;
    background: url('../advantages/img/decor-gray-right.png') no-repeat right;
    background-size: cover;
    @media(max-width: 575px) {
      display: none;
    }
  }
  @media(max-width: 991px) {
    // margin-top: -40px;
    padding: 0 0 250px 0;
  }
  @media(max-width: 575px) {
    padding: 70px 0 370px 0;
  }
  &__title {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    @media(max-width: 991px) {
      top: 80px;
    }
    @media(max-width: 575px) {
      top: 30px;
    }
  }
  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
    &_first {
      width: 1026px;
      height: 1026px;
      border: 2px solid rgba(218, 218, 218, 0.3);
      @media(max-width: 1199px) {
        width: 960px;
        height: 960px;
      }
      @media(max-width: 991px) {
        width: 710px;
        height: 710px;
      }
      @media(max-width: 767px) {
        width: 550px;
        height: 550px;
      }
      @media(max-width: 575px) {
        width: 300px;
        height: 300px;
      }
    }
    &_second {
      width: 826px;
      height: 826px;
      border: 2px solid rgba(218, 218, 218, 0.5);
      @media(max-width: 1199px) {
        width: 780px;
        height: 780px;
      }
      @media(max-width: 991px) {
        width: 710px;
        height: 710px;
        border-color: transparent;
      }
      @media(max-width: 767px) {
        width: 450px;
        height: 450px;
        border: 2px solid rgba(218, 218, 218, 0.5);
      }
      @media(max-width: 575px) {
        width: 260px;
        height: 260px;
      }
    }
    &_third {
      width: 626px;
      height: 626px;
      border: 2px solid rgba(218, 218, 218, 0.7);
      @media(max-width: 1199px) {
        width: 580px;
        height: 580px;
      }
      @media(max-width: 991px) {
        width: 610px;
        height: 610px;
      }
      @media(max-width: 767px) {
        width: 350px;
        height: 350px;
      }
      @media(max-width: 575px) {
        width: 220px;
        height: 220px;
      }
    }
    &_main {
      position: relative;
      width: 426px;
      height: 426px;
      border: 2px solid #DADADA;
      @media(max-width: 1199px) {
        width: 380px;
        height: 380px;
      }
      @media(max-width: 991px) {
        width: 520px;
        height: 520px;
        justify-content: space-between;
      }
      @media(max-width: 767px) {
        width: 180px;
        height: 180px;
        justify-content: center;
      }
    }
  }
  &__nav {
    display: none;
    @media(max-width: 991px) {
      position: absolute;
      top: 240px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      width: 140%;
      display: flex;
      justify-content: space-between;
    }
    @media(max-width: 767px) {
      top: 80px;
    }
    @media(max-width: 575px) {
      top: 70px;
    }
  }
  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 226px;
    height: 226px;
    background: linear-gradient(71.72deg, #97CC35 12.41%, #66B161 87.59%);
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(125, 200, 30, 0.8);
    @media(max-width: 1199px) {
      width: 180px;
      height: 180px;
    }
    @media(max-width: 991px) {
      display: none;
    }
  }
  &__circle-item {
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 50%;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.04);
    transition: 0.4s;
    opacity: 1;
    &_active {
      background: linear-gradient(to right, #97CC35 0%, #66B161 100%);
      transition: 0.8s;
      .advantages__circle-inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        background: linear-gradient(to right, #97CC35 0%, #66B161 100%);
        border: 4px solid #FFFFFF;
        transition: 0;
        border-radius: 50%;
        cursor: pointer;
        &::before {
          content: '';
          display: none;
        }
      }
      .circle-check {
        fill: #FFFFFF;
        stroke: #FFFFFF;
      }
      // @media(max-width: 767px) {
      //   display: flex;
      // }
    }
    @media(max-width: 991px) {
      position: relative;
      opacity: 0;
    }
    // @media(max-width: 767px) {
    //   display: none;
    // }
    &_children {
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      // transform: translateX(-50%);
      .advantages__circle-text {
        top: -70px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
      }
      @media(max-width: 991px) {
        top: initial;
        left: initial;
        transform: translateY(0);
        .advantages__circle-text {
          bottom: -70px;
          top: initial;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    &_teachers {
      top: 65px;
      right: -20px;
      transform: translateY(0);
      .advantages__circle-text {
        left: 120px;
      }
      @media(max-width: 1199px) {
        right: -30px;
      }
      @media(max-width: 991px) {
        top: initial;
        right: initial;
        .advantages__circle-text {
          // left: initial;
          bottom: -70px;
          text-align: center;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    &_groups {
      bottom: 65px;
      right: -20px;
      transform: translateY(0);
      .advantages__circle-text {
        left: 120px;
      }
      @media(max-width: 1199px) {
        right: -30px;
      }
      @media(max-width: 991px) {
        bottom: initial;
        right: initial;
        .advantages__circle-text {
          // left: initial;
          bottom: -70px;
          text-align: center;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    &_perspectives {
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      // transform: translateY(50%);
      .advantages__circle-text {
        bottom: -70px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
      }
      @media(max-width: 991px) {
        bottom: initial;
        left: initial;
        transform: translateY(0);
        .advantages__circle-text {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    &_practice {
      // z-index: 1;
      bottom: 65px;
      left: -20px;
      transform: translateY(0);
      .advantages__circle-text {
        right: 120px;
        text-align: right;
      }
      @media(max-width: 1199px) {
        left: -30px;
      }
      @media(max-width: 991px) {
        bottom: initial;
        left: initial;
        .advantages__circle-text {
          right: initial;
          bottom: -70px;
          text-align: center;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    &_interest {
      top: 65px;
      left: -20px;
      transform: translateY(0);
      .advantages__circle-text {
        right: 120px;
        text-align: right;
      }
      @media(max-width: 1199px) {
        left: -30px;
      }
      @media(max-width: 991px) {
        top: initial;
        left: initial;
        .advantages__circle-text {
          right: initial;
          bottom: -70px;
          text-align: center;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  &__circle-text {
    position: absolute;
    z-index: 1;
    font-size: 23px;
    line-height: 27px;
    color: #333333;
    transition: 0.6s;
    // opacity: 0;
    user-select: none;
    span {
      color: #909090;
    }
    @media(max-width: 767px) {
      font-size: 20px;
      line-height: 22px;
      bottom: -60px !important;
    }
  }
  &__circle-inner {
    // z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border: 4px solid transparent;
    background-clip: padding-box;
    transition: 0.2s;
    border-radius: 50%;
    // opacity: 0;
    cursor: pointer;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      margin: -4px;
      border-radius: inherit;
      background: linear-gradient(to right, #97CC35 0%, #66B161 100%);
    }
    &:hover {
      box-shadow: 0px 0px 20px rgba(#66B161, 0.4);
      @media(max-width: 991px) {
        box-shadow: none;
      }
    }     
    &:active {
      // background: #66B161;
      box-shadow: none;
      // .circle-check {
      //   stroke: #fff;
      //   fill: #FFFFFF;
      // }
    }
  }
  &__popup {
    display: none;
    position: absolute;
    z-index: 3;
    top: -250px;
    left: -20px;
    // display: flex;
    align-items: center;
    justify-content: center;
    width: 476px;
    height: 200px;
    transition: 0.4s;
    padding: 0 0 0 38px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 20px 20px 20px 105px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    &_big {
      width: 476px;
      @media(max-width: 991px) {
        width: 630px;
      }
      @media(max-width: 767px) {
        width: 476px;
      }
      @media(max-width: 575px) {
        width: 300px;
      }
    }
    &::after {
      content: '';
      position: absolute;
      // z-index: 1;
      bottom: -22px;
      left: 61px;
      width: 50px;
      height: 50px;
      background: #FFFFFF;
      border: 1px solid #DADADA;
      box-shadow: 0px 40px 30px rgba(0, 0, 0, 0.05);
      transform: skewY(-40deg);
      border-radius: 0 0 0 5px;
      border-right: #FFFFFF;
      border-top: #FFFFFF;
      @media(max-width: 1199px) {
        transform: rotateZ(-45deg);
        bottom: -26px;
        left: 161px;
      }
      @media(max-width: 991px) {
        bottom: initial;
        top: -26px;
        left: 50%;
        transform: translateX(-50%) rotateZ(-45deg);
        border-radius: 0 5px 0 0;
        border: 1px solid #DADADA;
        box-shadow: none;
        border-left: #FFFFFF;
        border-bottom: #FFFFFF;
      }
      @media(max-width: 767px) {
        width: 30px;
        height: 30px;
        top: -16px;
      }
    }
    @media(max-width: 1199px) {
      border-radius: 20px;
      left: -140px;
    }
    @media(max-width: 991px) {
      height: initial;
      padding: 25px 0 25px 30px;
      top: 220px;
      left: 50%;
      transform: translateX(-50%);
    }
    @media(max-width: 767px) {
      top: 190px;
    }
    @media(max-width: 575px) {
      width: 300px;
    }
  }
  &__popup-text {
    position: relative;
    z-index: 2;
    height: 145px;
    width: 420px;
    padding-right: 30px;
    background: #FFFFFF;
    overflow: auto;
    @media(max-width: 991px) {
      height: initial;
      width: 100%;
    }
    @media(max-width: 767px) {
      max-height: 250px;
    }
  }
  &__popup-text-item {
    font-size: 14px;
    line-height: 21px;
    color: $text-color;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    // @media(max-width: 767px) {
    //   font-size: 13px;
    // }
  }
  &__overlay {
    position: absolute;
    z-index: 3;
    bottom: 25px;
    left: 37px;
    height: 50px;
    width: 410px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.89) 87.49%, #FFFFFF 100%);
    @media(max-width: 991px) {
      display: none;
    }
  }
}
.circle-check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}
.off {
  opacity: 0;
}
.hidden {
  display: none;
}
.fade {
  animation: fade 0.6s ease 0.1s forwards;
}
// .pulse {
//   animation: pulse 2s ease infinite;
// }
// @-webkit-keyframes pulse {
//   0% {
//     -webkit-box-shadow: 0 0 0 0 rgba(125, 200, 30, 0.8);
//   }
//   70% {
//       -webkit-box-shadow: 0 0 0 10px rgba(125, 200, 30, 0);
//   }
//   100% {
//       -webkit-box-shadow: 0 0 0 0 rgba(125, 200, 30, 0);
//   }
// }
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}