.advantages.section
  h2._title.section__title.section__title_orange Маленькие программисты сейчас – <br>обладатели лучших рабочих мест в будущем!
  ._circle.-first
    ._circle.-second
      ._circle.-third
        ._circle.-main
          ._label
            +svg('main-adv', 'advantages__label-icon')
          ._circle-item.-children
            ._circle-text Умные<br><span>дети</span>
            ._circle-inner
              +svg('check-adv', 'circle-check')
              +svg('return-adv', 'circle-check off')
            ._popup.off
              ._popup-text
                ._popup-text-item.
                  Задача Роббо Клуба – увлечь детей точными науками, обучить основам 
                  программирования и привить любовь к творчеству. 
                ._popup-text-item.
                  Мы развиваем в детях пытливый ум, гибкое мышление и инженерные навыки.
                ._popup-text-item.
                  Выпускники Роббо Клуба получают детальное представление о том, что 
                  такое программирование и робототехника. В будущем эти знания помогут 
                  им сориентироваться в многообразии профессий и сделать выбор, который 
                  в полной мере отвечает их талантам и интересам. 
              ._overlay
          ._circle-item.-teachers
            ._circle-text Крутые<br><span>преподаватели</span>
            ._circle-inner
              +svg('check-adv', 'circle-check')
              +svg('return-adv', 'circle-check off')
            ._popup.off
              ._popup-text
                ._popup-text-item.
                  Роббо Клуб – это школа мейкеров, в которой дети учатся воплощать
                   в жизнь собственные проекты. И мы твердо уверены: только 
                   первоклассные преподаватели могут научить детей основам 
                   программирования и принципам создания новых устройств. 
                ._popup-text-item.
                  Учителя Роббо Клуба – молодые и увлеченные своим делом профессионалы с 
                  педагогическим образованием и опытом преподавания информатики в школах. 
                  Они прошли подготовку по специальным методикам Роббо Клуба, знают, как 
                  найти подход к детям и умеют заинтересовать робототехникой и младшего школьника, и подростка. 
                ._popup-text-item.
                  Каждый год наши маленькие выпускники проходят тесты и сдают экзамены, 
                  единые для всей сети школ Роббо в разных странах. Результаты этих тестирований 
                  подтверждают профессионализм наших преподавателей и соответствие школы высоким 
                  стандартам Роббо Клуба. 
              ._overlay
          ._circle-item.-groups
            ._circle-text Компактные<br><span>группы</span>
            ._circle-inner
              +svg('check-adv', 'circle-check')
              +svg('return-adv', 'circle-check off')
            ._popup.off
              ._popup-text
                ._popup-text-item.
                  Большое количество детей в группе снижает эффективность занятий для каждого 
                  ребенка. Учитель не всегда успевает уделить достаточно внимания всем 
                  ученикам, дисциплина в группе может снизиться, а внимание детей к предмету 
                  ослабеть. 
                ._popup-text-item.
                  Мы это понимаем, и поэтому в каждой группе Роббо Клуба занимаются 
                  не более 8 учеников. Так мы обеспечиваем индивидуальный подход к каждому 
                  ребенку, комфортную и доверительную атмосферу на занятиях и полноценное 
                  усвоение материала.
              ._overlay
          ._circle-item.-interest
            ._circle-text Новые<br><span>интересы</span>
            ._circle-inner
              +svg('check-adv', 'circle-check')
              +svg('return-adv', 'circle-check off')
            ._popup.off
              ._popup-text
                ._popup-text-item.
                  Каждое занятие в Роббо Клубе – это новая задача-головоломка, которая мотивирует 
                  ребенка активно мыслить, искать нестандартные решения и тестировать разные 
                  подходы. Мы пробуждаем в наших учениках жажду знаний, стремление найти истину и 
                  желание покорять новые горизонты. В Роббо Клубе ваш ребенок проявит свой потенциал 
                  на практике, познакомится с удивительным миром технологий и заведет новых друзей.
              ._overlay
          ._circle-item.-practice
            ._circle-text Только<br><span>практика</span>
            ._circle-inner
              +svg('check-adv', 'circle-check')
              +svg('return-adv', 'circle-check off')
            ._popup.off
              ._popup-text
                ._popup-text-item.
                  80% всей обучающей программы Роббо Клуба – практические занятия. Только практика 
                  и никаких оценок. Мы создали среду, в которой дети не боятся критики и с 
                  нетерпением ждут каждого занятия. Дети Роббо Клуба – это дети, у которых горят 
                  глаза. Они с оптимизмом думают о будущем и увлеченно создают собственные проекты. 
              ._overlay
          ._circle-item.-perspectives
            ._circle-text Перспективы<br><span>детей</span>
            ._circle-inner
              +svg('check-adv', 'circle-check')
              +svg('return-adv', 'circle-check off')
            ._popup.off
              ._popup-text
                ._popup-text-item.
                  Роббо Клуб поможет вашему ребенку найти себя независимо от того, станет 
                  ли он в будущем IT-специалистом или выберет другую профессию. Мы учим 
                  детей думать самостоятельно, искать и находить верные решения и воплощать 
                  задуманное на практике – это три составляющих успеха в любом начинании.  
                ._popup-text-item.
                  Укрепляя и систематизируя интерес вашего ребенка к программированию и 
                  технологиям, мы закладываем первые кирпичики в фундамент его успешной карьеры. 
                  Каждый ребенок возьмет из Роббо Клуба что-то свое и научится чему-то важному и 
                  необходимому для него лично. 
                  А мы постараемся раскрыть таланты будущих инженеров, программистов и стартаперов.
              ._overlay
