.programms.section
  h2._title.section__title.section__title_orange Чему обучают в Роббо Клубе?
  ._wrap.wrap
    .swiper-container(data-slider="progs")
      .swiper-wrapper
        .swiper-slide.programms__slide
          .programms__card
            .programms__card-view
              img(src="img/slide-prog.svg", alt="coding").programms__card-img
            h3.programms__card-title Программирование <br>и робототехника
            .programms__card-text.
              Развиваем математическое мышление, расширяем представления об ...
            button.programms__card-button Посмотреть подробнее
        .swiper-slide.programms__slide
          .programms__card
            .programms__card-view
              img(src="img/slide-3d.svg", alt="3d-models").programms__card-img
            h3.programms__card-title 3D-моделирование <br>и 3D-печать
            .programms__card-text.
              Учим придумывать дизайн предметов и воплощать дизайнерские проекты ...
            button.programms__card-button Посмотреть подробнее
        .swiper-slide.programms__slide
          .programms__card
            .programms__card-view
              img(src="img/slide-house.svg", alt="smart house").programms__card-img
            h3.programms__card-title Виртуальный <br>Умный дом
            .programms__card-text.
              Знакомим детей с понятием Умный дом, обучаем принципам программ...
            button.programms__card-button Посмотреть подробнее
        .swiper-slide.programms__slide
          .programms__card
            .programms__card-view
              img(src="img/slide-electro.svg", alt="electronics").programms__card-img
            h3.programms__card-title Схемотехника и <br>микроэлектроника
            .programms__card-text.
              На практике изучаем действие физических законов электричества ...
            button.programms__card-button Посмотреть подробнее
    .swiper-button-prev.slider__prev.slider__prev_progs
      +svg('slider-arrow')
    .swiper-button-next.slider__next.slider__next_progs
      +svg('slider-arrow', 'rotate180')