.mainscreen.section
  ._wrap.wrap
    header._header
      ._logo
        +svg('main-logo')
      nav._nav
        a(href="#" data-link="about")._nav-link О нас
        a(href="#" data-link="program")._nav-link Курсы
        a(href="#" data-link="prepod")._nav-link Преподавания
        a(href="#" data-link="life")._nav-link Занятия
        a(href="#" data-link="feedback")._nav-link Отзывы
        a(href="#" data-link="faq")._nav-link FAQ
        a(href="#" data-link="contacts")._nav-link Контакты
      ._contact-group
        ._tel
          ._phone +7 (977) 177-94-17
          ._contact-img
            img(src="img/phone2.svg", alt="phone")
          //- ._img
          //-   +svg('phone')
        ._callback перезвоните мне
      ._menu-btn
    ._content
      ._content-text
        ._welcome Добро пожаловать в<br> РОББО-КЛУБ&nbsp;
          +svg('smile', 'mainscreen__smile-svg')
        h1._title Школа робототехники и программирования <br> для детей от 7 до 14 лет
        ._desc-list
          ._desc-item
            ._desc-circle
            ._desc-text Учим ваших детей думать
          ._desc-item
            ._desc-circle
            ._desc-text Прививаем любовь к точным наукам
          ._desc-item
            ._desc-circle
            ._desc-text Готовим к профессиям будущего
        button._btn Записаться на пробный урок
      ._content-view
        //- img(src="img/main-teacher.png", alt="people")._img
