.mainscreen {
  overflow-x: hidden;
  padding: 40px 0 310px 0;
  background: url('../mainscreen/img/main-bg.png') no-repeat left top;
  background-size: contain;
  @media(max-width: 1199px) {
    padding: 30px 0 200px 0;
  }
  @media(max-width: 991px) {
    background-size: cover;
    padding: 30px 0 150px 0;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width: 991px) {
      width: 100%;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    padding: 5px 90px;
    flex-grow: 1;
    @media(max-width: 1199px) {
      padding: 5px 10px 5px 20px;
    }
    @media(max-width: 991px) {
      display: none;
    }
  }
  &__nav-link {
    padding: 0 0 0 22px;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    transition: 0.4s;
    flex-shrink: 0;
    opacity: 0.8;
    flex-wrap: nowrap;
    &:hover {
      text-decoration: none;
      opacity: 1;
      align-self: flex-start;
      padding: 0 0 2px 22px;
    }
    @media(max-width: 1199px) {
      padding: 0 0 0 13px;
      &:hover {
        align-self: flex-start;
        padding: 0 0 2px 13px;
      }
    }
  }
  &__contact-group {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    background: rgba(#FFFFFF, 1);
    padding: 5px 20px;
    border-radius: 20px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.18);
    border-radius: 24.5px 24.5px 24.5px 105px;
    transition: 0.2s;
    &:hover {
      box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.18);
    }
    &:active {
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.18);
    }
    @media(max-width: 991px) {
      margin-left: auto; //TODO
      background: transparent;
      box-shadow: none;
      border-radius: 50px;
      transition: 0.4s;
      &:hover {
        box-shadow: none;
      }
    }
  }
  &__tel {
    display: flex;
    flex-direction: row-reverse; 
    align-items: center;
  }
  &__phone {
    padding-left: 11px;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    @media(max-width: 1199px) {
      font-size: 16px;
      line-height: 18px;
    }
    @media(max-width: 991px) {
      color: #FFFFFF;
    }
  }
  &__contact-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FFFFFF;
  }
  &__callback {
    padding: 2px;
    color: $main-color;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px dotted $main-color;
    @media(max-width: 991px) {
      display: none;
    }
  }

  &__content {
    position: relative;
    display: flex;
    width: 100%;
  }
  &__content-text {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding-top: 110px;
    @media(max-width: 1199px) {
      padding-top: 80px;
    }
    @media(max-width: 991px) {
      padding-top: 60px;
    }
  }
  &__welcome {
    display: flex;
    align-items: center;
    font-weight: 200;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 25px;
  }
  &__title {
    margin: 0 0 32px 0;
    font-weight: 500;
    font-size: 34px;
    line-height: 48px;
    color: #FFFFFF;
    @media(max-width: 1199px) {
      font-size: 28px;
      line-height: 39px;
    }
    @media(max-width: 767px) {
      font-size: 24px;
    }
  }
  &__desc-list {
    margin-bottom: 75px;
  }
  &__desc-item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
  &__desc-circle {
    flex-shrink: 0;
    margin-bottom: 2px;
    height: 10px;
    width: 10px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
  }
  &__desc-text {
    margin-left: 6px;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    @media(max-width: 767px) {
      font-size: 16px;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 312px;
    height: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: transparent;
    border: 2px solid rgba(#FFFFFF, 1);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.08);
    border-radius: 24.5px 24.5px 24.5px 105px;
    transition: 0.4s;
    &:hover {
      background: #FFFFFF;
      border: 2px solid transparent; 
      color: $main-color;
    }
    @media(max-width: 991px) {
      &:hover {
        color: #FFFFFF;
        background: transparent;
        border: 2px solid rgba(#FFFFFF, 1);
      }
    }
    @media(max-width: 767px) {
      width: 263px;
      height: 42px;
      font-size: 16px;
    }
  }

  &__content-view {
    position: absolute;
    background: url('../mainscreen/img/main-teacher.png') no-repeat center;
    background-size: cover;
    height: 604px;
    width: 666px;
    top: 34px;
    right: -95px;
    @media(max-width: 1199px) {
      height: 504px;
      width: 566px;
      top: 90px;
      right: -65px;
    }
    @media(max-width: 991px) {
      height: 404px;
      width: 466px;
      top: 140px;
      right: -45px;
    }
    @media(max-width: 767px) {
      height: 300px;
      width: 280px;
      top: 150px;
      right: -28px;
    }
  }
  &__img {
    position: absolute;
    height: 603px;
    @media(max-width: 767px) {
      height: 300px;
    }
  }
}