.slider.section
  ._wrap.wrap
    h2._title.section__title.section__title_orange Наша жизнь
    h3._subtitle Как проходят занятия в Роббо Клубе?
    ._container
      .swiper-container(data-slider="main")
        .swiper-wrapper
          .swiper-slide
            .slider__item
              img(src="img/mainslide-1.jpg", alt="slide").slider__img
          .swiper-slide
            .slider__item
              img(src="img/mainslide-2.jpg", alt="slide").slider__img
          .swiper-slide
            .slider__item
              img(src="img/mainslide-3.jpg", alt="slide").slider__img
          .swiper-slide
            .slider__item
              img(src="img/mainslide-4.jpg", alt="slide").slider__img
          .swiper-slide
            .slider__item
              img(src="img/mainslide-5.jpg", alt="slide").slider__img
          .swiper-slide
            .slider__item
              img(src="img/mainslide-6.jpg", alt="slide").slider__img
          .swiper-slide
            .slider__item
              img(src="img/mainslide-7.jpg", alt="slide").slider__img
          .swiper-slide
            .slider__item
              img(src="img/mainslide-8.jpg", alt="slide").slider__img
          .swiper-slide
            .slider__item
              img(src="img/mainslide-9.jpg", alt="slide").slider__img
          .swiper-slide
            .slider__item
              img(src="img/mainslide-10.jpg", alt="slide").slider__img
          .swiper-slide
            .slider__item
              img(src="img/mainslide-11.jpg", alt="slide").slider__img
        .slider__pagination.swiper-pagination
      .slider__nav
        .slider__prev.-main
          +svg('slider-arrow')
        .slider__next.-main
          +svg('slider-arrow', 'rotate180')
    ._preview-wrapper
      ._preview-item.-lower
        ._preview-content
          img(src="img/mainslide-2.jpg", alt="slide")._preview-img
      ._preview-item.-middle
        ._preview-content
          img(src="img/mainslide-3.jpg", alt="slide")._preview-img
      ._preview-item.-up
        ._preview-content
          .swiper-container(data-slider="main-upper")
            .swiper-wrapper
              .swiper-slide
                img(src="img/mainslide-2.jpg", alt="slide").slider__preview-img.-bottom
              .swiper-slide
                img(src="img/mainslide-3.jpg", alt="slide").slider__preview-img
              .swiper-slide
                img(src="img/mainslide-4.jpg", alt="slide").slider__preview-img
              .swiper-slide
                img(src="img/mainslide-5.jpg", alt="slide").slider__preview-img
              .swiper-slide
                img(src="img/mainslide-6.jpg", alt="slide").slider__preview-img.-bottom
              .swiper-slide
                img(src="img/mainslide-7.jpg", alt="slide").slider__preview-img
              .swiper-slide
                img(src="img/mainslide-8.jpg", alt="slide").slider__preview-img.-right
              .swiper-slide
                img(src="img/mainslide-9.jpg", alt="slide").slider__preview-img
              .swiper-slide
                img(src="img/mainslide-10.jpg", alt="slide").slider__preview-img.-bottom
              .swiper-slide
                img(src="img/mainslide-11.jpg", alt="slide").slider__preview-img
              .swiper-slide
                img(src="img/mainslide-1.jpg", alt="slide").slider__preview-img