doctype html
html
    include ../elements/head/head
    +head('ROBBO', 'Page description', 'Page keywords')
    body
        //- .preloader
        //-     ._wrapper
        //-         img(src="./img/loading.gif", alt="loading")._loading
        //-         ._txt loading...

        //- include ../elements/preloader/preloader
        include ../elements/mainscreen/mainscreen
        include ../elements/advantages/advantages
        include ../elements/about/about
        include ../elements/programms/programms
        include ../elements/methods/methods
        include ../elements/creative/creative
        include ../elements/principles/principles
        include ../elements/slider/slider
        include ../elements/faq/faq
        include ../elements/feedback/feedback
        include ../elements/faq/result
        include ../elements/partners/partners
        include ../elements/map/map
        include ../elements/mainform/mainform
        include ../elements/footer/footer
        include ../elements/modals/modals
        include ../elements/popups/popups
        include ../elements/mobmenu/menu

        script(src="js/libs.min.js")
        script(src="js/custom.js")