doctype html
html
    include ../elements/head/head
    +head('Page title', 'Page description', 'Page keywords')
    body

        include ../elements/mainscreen/mainscreen
        include ../elements/advantages/advantages
        include ../elements/about/about
        include ../elements/programms/programms
        include ../elements/methods/methods
        include ../elements/creative/creative
        include ../elements/principles/principles
        include ../elements/slider/slider
        include ../elements/map/map
        include ../elements/faq/faq
        include ../elements/feedback/feedback
        include ../elements/faq/result
        include ../elements/partners/partners
        include ../elements/mainform/mainform
        include ../elements/footer/footer

        script(src="js/libs.min.js")
        script(src="js/custom.js")