.feedback.section(data-link="feedback")
  ._wrap.wrap
    h2._title.section__title.section__title_green Что говорят наши клиенты
    ._container
      .swiper-container(data-slider="feedback")
        .swiper-wrapper
          .swiper-slide
            .feedback__slide
              .feedback__avatar
                img(src="img/client4.png", alt="client").feedback__img
              .feedback__name Екатерина И.
              .feedback__child мама Саши И.
              .feedback__content-wrap
                .feedback__text.
                  В Роббо клуб мой сын ходит уже второй год.<br>
                  Когда шли на пробное занятие, я не думала, что будем заниматься. Но в результате сыну
                  так понравилось, что стали ходить. Интересно то, что дети видят результат своей работы: 
                  они делают какие-то простые игры, программируют датчики и роботов. Очень крутой 
                  мастер-класс проводится в новогодние праздники. С моей точки зрения, занятия очень 
                  хорошо развивают логическое мышление, знакомят детей с базовыми понятиями, такими как 
                  алгоритм, магнитные, электрические цепи. Что ценно, все хорошо откладывается, потому 
                  что они с этим работают. Сейчас много всяких разных кружков робототехники, я считаю, 
                  что наш формат самый полезный и интересный. Ну и конечно, очень многое зависит от 
                  заряженности преподавателей. Тут нам несомненно очень повезло.
              .feedback__date 08/02/2018
          .swiper-slide
            .feedback__slide
              .feedback__avatar
                img(src="img/client7.png", alt="client").feedback__img
              .feedback__name Елена Б.
              .feedback__child мама Артёма Б.
              .feedback__content-wrap
                .feedback__text.
                  Сын занимается с удовольствием. Узнал много нового и интересного. Мне как маме нравится, 
                  что производят много расчетов в уме, сами собирают и программируют. Ходим в секцию второй год, 
                  каждое занятие уникальное и не похоже на предыдущее. Преподаватель увлекает детей, умеет заинтересовать. 
                  Будем заниматься дальше. Спасибо большое РоббоКлубу.  
              .feedback__date 11/04/2019
          .swiper-slide
            .feedback__slide
              .feedback__avatar
                img(src="img/client6.png", alt="client").feedback__img
              .feedback__name Наталья П.
              .feedback__child мама Тимофея П.
              .feedback__content-wrap
                .feedback__text.
                  Занятия в клубе ребёнку очень нравятся. Бывает сложно, не все получается. Но преподаватели всегда помогут 
                  и подскажут. Отучились два года и не собираемся бросать! 
              .feedback__date 21/05/2019
          .swiper-slide
            .feedback__slide
              .feedback__avatar
                img(src="img/client5.png", alt="client").feedback__img
              .feedback__name Светлана О.
              .feedback__child мама Славы О.
              .feedback__content-wrap
                .feedback__text.
                  Спасибо вам большое за ваш труд, Слава с удовольствием посещал занятия эти 2 года.
              .feedback__date 23/05/2019
          .swiper-slide
            .feedback__slide
              .feedback__avatar
                img(src="img/client5.png", alt="client").feedback__img
              .feedback__name Юлия Л.
              .feedback__child мама Андрея Л.
              .feedback__content-wrap
                .feedback__text.
                  Хочу сказать огромное спасибо за Ваши занятия.<br> Андрей с удовольствием занимается уже 
                  2 года. Каждое занятие интересное, всякий раз что то новое! <br>
                  Желаю Вам успехов, процветания и побольше новых учеников.
              .feedback__date 23/05/2019
          .swiper-slide
            .feedback__slide
              .feedback__avatar
                img(src="img/client3.png", alt="client").feedback__img
              .feedback__name Лидия Ф.
              .feedback__child мама Димы Ф.
              .feedback__content-wrap
                .feedback__text.
                  От занятий в робблоклубе мой сын в восторге. Ходит с удовольствием, старается не пропускать. 
                  Рассказывает, что они делают на занятиях и делится новыми знаниями и впечатлениями. Педагоги 
                  роббоклуба находят подход к каждому ребенку, чтобы ребятам было интересно, полезно и 
                  был результат. Спасибо.
              .feedback__date 18/05/2018
          .swiper-slide
            .feedback__slide
              .feedback__avatar
                img(src="img/client2.png", alt="client").feedback__img
              .feedback__name Ольга З.
              .feedback__child мама Степана З.
              .feedback__content-wrap
                .feedback__text.
                  Пишу Большое Спасибо за такой как мне кажется, удивительный кружок РоббО клуб в Бибирево.
                   Не знала раньше, что такие курсы имеются для столь маленьких деток, что ему будет интересно.
                    Мы занимались два года, сын теперь имеет представления что с чем соединить, как отмерить, 
                    посчитать, конечно больше всего вызвал восторг 3D принтер. Мы параллельно ходили на курсы 
                    в МАИ, но в данном кружке было более четко сформированная программа обучения и понятно 
                    последовательных уроков, уверена к  каждому ребенку был индивидуальный подход по разъяснению 
                    материала. Кто желает своему ребенку дать дополнительное образование и опыт рекомендую 
                    (кто знает может внутри вашего ребенка скрыт большой потенциал в данном направлении)) <br>
                  <br>
                  С Уважением, Ольга), мама Степана! которая считает что детям нужен опыт во всем.
              .feedback__date 26/05/2019
      ._nav
        .slider__prev.-feedback
          +svg('slider-arrow')
        .slider__next.-feedback
          +svg('slider-arrow', 'rotate180')