.modals {
  display: none;
  position: fixed;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  overflow: auto;
  user-select: none;
  &__wrap {
    position: relative;
    margin: 0 auto;

  }
  &__container {
    position: absolute;
    top: -400px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    // animation: moveDown 0.6s ease;
    // animation-fill-mode: forwards;
    margin-bottom: 80px;
    // transition: 0.6s;
  }
  &__slide {
    display: flex;
    justify-content: center;
  }
  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    padding: 75px 50px;
    background: #ffffff;
    border-radius: 20px 20px 20px 105px;
    border: 1px solid #EEEEEE;
    @media(max-width: 1199px) {
      width: 600px;
    }
    @media(max-width: 991px) {
      width: 500px;
      padding: 50px 30px;
    }
    @media(max-width: 767px) {
      width: 380px;
      padding: 50px 30px;
    }
    @media(max-width: 575px) {
      width: 250px;
      padding: 40px 20px;
      border-radius: 20px 20px 20px 60px;
    }
  }
  &__close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 19px;
    right: 19px;
    width: 32px;
    height: 32px;
    border: 2px solid #FFB718;
    border-radius: 50%;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }
  }
  &__close-svg {
    width: 16px;
    height: 16px;
    fill: #FFB718;
  }
  &__desc {
    display: flex;
    width: 100%;
    @media(max-width: 1199px) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  &__title {
    font-weight: 900;
    font-size: 28px;
    color: $text-color;
    br {
      display: none;
      @media(max-width: 1199px) {
        display: block;
      }
    }
    @media(max-width: 1199px) {
      font-size: 26px;
      text-align: center;
      font-weight: 700;
    }
    @media(max-width: 991px) {
      font-size: 22px;
    }
    @media(max-width: 575px) {
      font-size: 18px;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
  }
  &__text-item {
    color: $text-color;
    &:not(:first-child) {
      margin-top: 20px;
    }
    @media(max-width: 1199px) {
      font-size: 14px;
    }
    @media(max-width: 575px) {
      // text-align: center;
    }
  }
  &__lists {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
    @media(max-width: 991px) {
      flex-direction: column;
      margin-top: 25px;
    }
    @media(max-width: 575px) {
      margin-top: 15px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__list-item {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    &:not(:first-child) {
      margin-top: 14px;
    }
    @media(max-width: 1199px) {
      font-size: 16px;
    }
    @media(max-width: 991px) {
      font-size: 15px;
      margin-top: 12px;
    }
    @media(max-width: 575px) {
      font-size: 14px;
    }
  }
  &__circle {
    width: 10px;
    height: 10px;
    border: 2px solid #FD900A;
    border-radius: 50%;
    margin-right: 8px;
  }
  &__view {
    flex-shrink: 0;
    margin: 0 0 0 40px;
    @media(max-width: 1199px) {
      margin: 0 0 40px 0;
    }
    @media(max-width: 575px) {
      margin: 0 0 25px 0;
    }
  }
  &__img {
    width: 280px;
    @media(max-width: 1199px) {
      width: 240px;
    }
    @media(max-width: 991px) {
      width: 200px;
    }
    @media(max-width: 575px) {
      width: 170px;
    }
  }
  &__advantages {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 45px;
    padding-top: 45px;
    border-top: 2px solid #EEEEEE;
    @media(max-width: 991px) {
      flex-direction: column;
      padding-top: 10px;
    }
    @media(max-width: 575px) {
      padding-top: 0;
    }
  }
  &__advantages-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 28%;
    flex-shrink: 0;
    @media(max-width: 991px) {
      flex-direction: row;
      margin-top: 15px;
      // flex-shrink: 0;
      // min-height: 100px;
      flex-basis: initial;
    }
    @media(max-width: 575px) {
      flex-direction: column;
    }
  }
  &__advantages-desc {
    margin-top: 19px;
    text-align: center;
    color: $text-color;
    font-size: 14px;
  }
  &__advantages-img {
    position: relative;
    z-index: 1;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 50%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
    @media(max-width: 991px) {
      width: 70px;
      height: 70px;
      margin: 0 30px 0 0;
    }
    @media(max-width: 575px) {
      margin: 0;
    }
  }
  &__advantages-circle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border: 4px solid transparent;
    background-clip: padding-box;
    transition: 0.2s;
    border-radius: 50%;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      margin: -4px;
      border-radius: inherit;
      background: linear-gradient(to right, #97CC35 0%, #66B161 100%);
    }
    @media(max-width: 991px) {
      width: 50px;
      height: 50px;
    }
  }
  &__result {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 45px;
    padding-top: 45px;
    border-top: 2px solid #EEEEEE;
    @media(max-width: 575px) {
      padding-top: 20px;
    }
  }
  &__result-title {
    font-weight: 900;
    font-size: 24px;
    color: $text-color;
    @media(max-width: 1199px) {
      font-size: 22px;
      font-weight: 700;
    }
    @media(max-width: 991px) {
      font-size: 20px;
    }
    @media(max-width: 575px) {
      font-size: 16px;
    }
  }
  &__result-list {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  &__result-item {
    display: flex;
    align-items: center;
    &:not(:first-child) {
      margin-top: 16px;
    }
  }
  &__result-circle {
    width: 32px;
    height: 32px;
    color: #FFB718;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 2px solid #FFB718;
    border-radius: 50%;
    margin-right: 30px;
    @media(max-width: 1199px) {
      height: 28px;
      width: 28px;
      margin-right: 15px;
    }
    @media(max-width: 575px) {
      width: 24px;
      height: 24px;
      font-size: 15px;
    }
  }
  &__result-text {
    font-weight: 500;
    font-size: 18px;
    color: $text-color;
    @media(max-width: 1199px) {
      font-size: 16px;
    }
    @media(max-width: 991px) {
      font-size: 15px;
    }
    @media(max-width: 575px) {
      font-size: 14px;
    }
  }
  &__btn {
    width: 312px;
    height: 49px;
    background: transparent;
    border: 2px solid #97CC35 ;
    transition: 0.2s;
    border-radius: 18px 18px 18px 105px;
    color: #97CC35;
    line-height: 21px;
    margin-top: 90px;
    cursor: pointer;
    &:hover {
      color: #FFFFFF;
      background: #97CC35;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    }
    &:active {
      box-shadow: none;
    }
    @media(max-width: 1199px) {
      width: 270px;
      margin-top: 50px;
      &:hover {
        color: #97CC35;
        background: #FFFFFF;
        box-shadow: none;
      }
    }
    @media(max-width: 575px) {
      width: 200px;
      height: 38px;
      border-radius: 18px 18px 18px 40px;
      font-size: 12px;
    }
  }
  &__navigation {
    position: absolute;
    z-index: 2;
    top: 480px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media(max-width: 991px) {
      top: 300px;
    }
    @media(max-width: 991px) {
      width: 90%;
    }
    @media(max-width: 575px) {
      width: 95%;
    }
  }
  &__prev-btn, &__next-btn {
    cursor: pointer;
    &:hover {
      .modals__svg {
        opacity: 1;
        stroke-width: 3;
      }
    }
  }
  &__svg {
    transition: 0.2s;
    opacity: 0.7;
    @media(max-width: 991px) {
      width: 20px;
    }
    @media(max-width: 575px) {
      width: 15px;
    }
    &_next {
      transform: rotateZ(180deg);
    }
  }
}

.moveDown {
  animation: moveDown 0.6s ease;
  animation-fill-mode: forwards;
}

.moveUp {
  animation: moveUp 0.6s ease;
  animation-fill-mode: forwards;
}

@keyframes moveDown {
  0% {
    top: -400px;
    opacity: 0.6;
  }
  100% {
    top: 80px;
    opacity: 1;
  }
}
@keyframes moveUp {
  0% {
    top: 80px;
    opacity: 1;
  }
  100% {
    top: -400px;
    opacity: 0.6;
  }
}