.modals
  ._wrap.wrap
    ._container
      .swiper-container(data-slider="modals")
        .swiper-wrapper
          .swiper-slide.modals__slide
            .modals__card(data-key="progs")
              .modals__close-btn
                +svg('return-adv', 'modals__close-svg')
              .modals__desc
                .modals__content
                  h2.modals__title О курсе — программирование и робототехника
                  .modals__text
                    .modals__text-item.
                      Развиваем математическое мышление, расширяем представления об окружающем мире, объясняем 
                      понятия времени, исчисления, циклов и признаков объектов. 
                    .modals__text-item.
                      Учим замечать закономерности, тренируем навык прямого и обратного счета у дошкольников. 
                      Обучаем основам составления алгоритмов, а впоследствии – созданию собственных компьютерных 
                      программ с нуля. 
                    .modals__text-item.
                      Разрабатываем и презентуем собственные проекты – программируемый светофор, комплект автоматических 
                      дверей с датчиками движения и т.д.
                  .modals__lists
                    .modals__list
                      .modals__list-item
                        .modals__circle
                        | Один учебный год
                      .modals__list-item
                        .modals__circle
                        | Одно занятие раз в неделю
                      .modals__list-item
                        .modals__circle
                        | Урок длится 90 минут
                    .modals__list
                      .modals__list-item
                        .modals__circle
                        | Будни или выходные
                      .modals__list-item
                        .modals__circle
                        | Дети 7-14 лет
                      .modals__list-item
                        .modals__circle
                        | Группа 6-8 человек
                .modals__view
                  img(src="img/slide-prog.svg", alt="coding").modals__img
              .modals__advantages
                .modals__advantages-item
                  .modals__advantages-img
                    .modals__advantages-circle
                      +svg('check-adv')
                  .modals__advantages-desc.
                    Визуальное программирование развивает детское воображение, учит правильно 
                    ставить задачи и искать возможность для их решения в игровой форме.
                .modals__advantages-item
                  .modals__advantages-img
                    .modals__advantages-circle
                      +svg('check-adv')
                  .modals__advantages-desc.
                    Помимо работы за компьютером дети рисуют, считают, придумывают, 
                    проектируют самостоятельно и в группах, делают презентации.
                .modals__advantages-item
                  .modals__advantages-img
                    .modals__advantages-circle
                      +svg('check-adv')
                  .modals__advantages-desc.
                    По окончании курса дети индивидуально или в команде разрабатывают 
                    и презентуют свой проект
              .modals__result
                .modals__result-title Чему научится ребенок на курсе программирования и робототехники:
                .modals__result-list
                  .modals__result-item
                    .modals__result-circle 1
                    .modals__result-text Логически мыслить
                  .modals__result-item
                    .modals__result-circle 2
                    .modals__result-text Программировать на языках Scratch, С++ и Python
                  .modals__result-item
                    .modals__result-circle 3
                    .modals__result-text Продумывать алгоритм создания собственных проектов
                  .modals__result-item
                    .modals__result-circle 4
                    .modals__result-text Работать в команде
              button.modals__btn Записаться на пробный урок
          .swiper-slide.modals__slide
            .modals__card(data-key="3d")
              .modals__close-btn
                +svg('return-adv', 'modals__close-svg')
              .modals__desc
                .modals__content
                  h2.modals__title О курсе — 3D-моделирование <br>и 3D-печать
                  .modals__text
                    .modals__text-item.
                      Учим придумывать дизайн предметов и воплощать дизайнерские проекты в жизнь, осваиваем методы инженерного 
                      программирования и дизайн-анализ, знакомим с теорией решения изобретательских задач (ТРИЗ). 
                    .modals__text-item.
                      Создаем на 3D-принтере объекты по самостоятельно разработанным макетам – значки, брелоки,
                      элементы будущего робота или автоматизированного оборудования.
                  .modals__lists
                    .modals__list
                      .modals__list-item
                        .modals__circle
                        | Один учебный год
                      .modals__list-item
                        .modals__circle
                        | Одно занятие раз в неделю
                      .modals__list-item
                        .modals__circle
                        | Урок длится 90 минут
                    .modals__list
                      .modals__list-item
                        .modals__circle
                        | Будни или выходные
                      .modals__list-item
                        .modals__circle
                        | Дети 7-14 лет
                      .modals__list-item
                        .modals__circle
                        | Группа 6-8 человек
                .modals__view
                  img(src="img/slide-3d.svg", alt="3d-models").modals__img
              .modals__advantages
                .modals__advantages-item
                  .modals__advantages-img
                    .modals__advantages-circle
                      +svg('check-adv')
                  .modals__advantages-desc.
                    3D-моделирование развивает художественное, дизайнерское и 
                    пространственное мышление ребенка, раскрывает его творческий потенциал и прививает инженерные навыки.
                .modals__advantages-item
                  .modals__advantages-img
                    .modals__advantages-circle
                      +svg('check-adv')
                  .modals__advantages-desc.
                    Помимо работы за компьютером дети рисуют, считают, придумывают, проектируют самостоятельно и в группах, 
                    делают презентации.
                .modals__advantages-item
                  .modals__advantages-img
                    .modals__advantages-circle
                      +svg('check-adv')
                  .modals__advantages-desc.
                    По окончании курса дети индивидуально или в команде разрабатывают и презентуют свой проект.
              .modals__result
                .modals__result-title Чему научится ребенок на курсе 3D-моделирования и 3D-печати:
                .modals__result-list
                  .modals__result-item
                    .modals__result-circle 1
                    .modals__result-text Художественно мыслить
                  .modals__result-item
                    .modals__result-circle 2
                    .modals__result-text Проектировать трехмерные объекты
                  .modals__result-item
                    .modals__result-circle 3
                    .modals__result-text Печатать разработанные объекты на 3D-принтере
                  .modals__result-item
                    .modals__result-circle 4
                    .modals__result-text Работать в команде
              button.modals__btn Записаться на пробный урок
          .swiper-slide.modals__slide
            .modals__card(data-key="electro")
              .modals__close-btn
                +svg('return-adv', 'modals__close-svg')
              .modals__desc
                .modals__content
                  h2.modals__title О курсе — схемотехника и микроэлектроника
                  .modals__text
                    .modals__text-item.
                      На практике изучаем действие физических законов электричества. 
                      Разбираемся, что такое сила тока, напряжение и сопротивление 
                    .modals__text-item.
                      Досконально изучаем устройство и принципы работы электрических
                       приборов и учимся создавать их своими руками.
                    .modals__text-item.
                      Собираем и программируем собственное электронное устройство – радио, 
                      терменвокс, светильник и т.д.
                  .modals__lists
                    .modals__list
                      .modals__list-item
                        .modals__circle
                        | Один учебный год
                      .modals__list-item
                        .modals__circle
                        | Одно занятие раз в неделю
                      .modals__list-item
                        .modals__circle
                        | Урок длится 90 минут
                    .modals__list
                      .modals__list-item
                        .modals__circle
                        | Будни или выходные
                      .modals__list-item
                        .modals__circle
                        | Дети 7-14 лет
                      .modals__list-item
                        .modals__circle
                        | Группа 6-8 человек
                .modals__view
                  img(src="img/slide-electro.svg", alt="electronics").modals__img
              .modals__advantages
                .modals__advantages-item
                  .modals__advantages-img
                    .modals__advantages-circle
                      +svg('check-adv')
                  .modals__advantages-desc.
                    Схемотехника и микроэлектроника знакомит с законами физики, 
                    развивает мелкую моторику, учит работать своими руками, укрепляет внимание и память, 
                    прививает инженерные навыки.
                .modals__advantages-item
                  .modals__advantages-img
                    .modals__advantages-circle
                      +svg('check-adv')
                  .modals__advantages-desc.
                    Помимо работы за компьютером дети рисуют, считают, придумывают, проектируют 
                    самостоятельно и в группах, делают презентации.
                .modals__advantages-item
                  .modals__advantages-img
                    .modals__advantages-circle
                      +svg('check-adv')
                  .modals__advantages-desc.
                    По окончании курса дети индивидуально или в команде разрабатывают 
                    и презентуют свой проект
              .modals__result
                .modals__result-title Чему научится ребенок на курсе схемотехники и микроэлектроники:
                .modals__result-list
                  .modals__result-item
                    .modals__result-circle 1
                    .modals__result-text Читать и понимать электронные схемы
                  .modals__result-item
                    .modals__result-circle 2
                    .modals__result-text Понимать и применять на практике принципы работы электронных устройств
                  .modals__result-item
                    .modals__result-circle 3
                    .modals__result-text Проектировать и собирать простейшие электронные устройства
                  .modals__result-item
                    .modals__result-circle 4
                    .modals__result-text Работать в команде
              button.modals__btn Записаться на пробный урок
          .swiper-slide.modals__slide
            .modals__card(data-key="IoT")
              .modals__close-btn
                +svg('return-adv', 'modals__close-svg')
              .modals__desc
                .modals__content
                  h2.modals__title О курсе — виртуальный умный дом
                  .modals__text
                    .modals__text-item.
                      Знакомим детей с понятием Умный дом, обучаем принципам программирования микроконтроллеров, 
                      программируем домашние устройства и автоматизируем бытовые процессы. 
                    .modals__text-item.
                      Создаем макет Умного дома с полезными и работающими функциями – робот-пылесос, робот, 
                      поливающий цветы, робот-полотер и т.д.
                  .modals__lists
                    .modals__list
                      .modals__list-item
                        .modals__circle
                        | Один учебный год
                      .modals__list-item
                        .modals__circle
                        | Одно занятие раз в неделю
                      .modals__list-item
                        .modals__circle
                        | Урок длится 90 минут
                    .modals__list
                      .modals__list-item
                        .modals__circle
                        | Будни или выходные
                      .modals__list-item
                        .modals__circle
                        | Дети 7-14 лет
                      .modals__list-item
                        .modals__circle
                        | Группа 6-8 человек
                .modals__view
                  img(src="img/slide-house.svg", alt="smart house").modals__img
              .modals__advantages
                .modals__advantages-item
                  .modals__advantages-img
                    .modals__advantages-circle
                      +svg('check-adv')
                  .modals__advantages-desc.
                    Курс Виртуальный Умный дом развивает инженерное и дизайнерское мышление, расширяет 
                    представления об окружающем мире, знакомит с понятием «интернет вещей», учит навыкам 
                    создания собственных прикладных проектов.
                .modals__advantages-item
                  .modals__advantages-img
                    .modals__advantages-circle
                      +svg('check-adv')
                  .modals__advantages-desc.
                    Помимо работы за компьютером дети рисуют, считают, придумывают, 
                    проектируют самостоятельно и в группах, делают презентации.
                .modals__advantages-item
                  .modals__advantages-img
                    .modals__advantages-circle
                      +svg('check-adv')
                  .modals__advantages-desc.
                    По окончании курса дети индивидуально или в команде разрабатывают 
                    и презентуют свой проект
              .modals__result
                .modals__result-title Чему научится ребенок на курсе программирования и робототехники:
                .modals__result-list
                  .modals__result-item
                    .modals__result-circle 1
                    .modals__result-text Разрабатывать и реализовывать «с нуля» собственный проект
                  .modals__result-item
                    .modals__result-circle 2
                    .modals__result-text Автоматизировать простейшие бытовые устройства
                  .modals__result-item
                    .modals__result-circle 3
                    .modals__result-text Комплексно применять навыки, полученные на предыдущих курсах
                  .modals__result-item
                    .modals__result-circle 4
                    .modals__result-text Работать в команде
              button.modals__btn Записаться на пробный урок
        .modals__navigation
          .modals__prev-btn
            +svg('modals-arrow', 'modals__svg')
          .modals__next-btn
            +svg('modals-arrow', 'modals__svg modals__svg_next')


