.about.section(data-link="about")
  ._wrap.wrap
    ._title.section__title.section__title_green Кто мы?
    ._content
      ._desc
        ._desc-item.
          63% сегодняшних детей во всем мире будут работать в 
          профессиях, которых сейчас не существует (по данным 
          Singularity University). До 2030 года в мире появится 
          186 новых профессий, а 30 прежних — исчезнут.
        ._desc-item.
          Роббо Клуб – инновационная детская IT-школа. Мы готовим 
          детей к выбору профессии в мире будущего, где роботы, 
          интернет вещей и искусственный интеллект станут повседневной 
          реальностью. 
        ._desc-item.
          Наша <strong>цель</strong> – заложить фундамент для 
          <strong>истории успеха</strong> вашего ребенка
      ._devider
        ._devider-point.-fat
        ._devider-point
        ._devider-point
        ._devider-point
      ._missions
        ._missions-title Наши задачи и ресурсы
        ._missions-item.
          <strong>Мотивировать</strong> ребенка к изучению точных наук и технологий.
          В Роббо Клубе даже гуманитарии влюбляются в математику.
        ._missions-item.
          <strong>Научить</strong> детей основам программирования и робототехники.
          Наши ученики пишут программы на языках Scratch, С++ и Python и программируют собственных роботов.
        ._missions-item.
          <strong>Сформировать</strong> у детей предпринимательское мышление, направленное на создание новых продуктов.<br>
          Мы растим будущих инженеров, которые смогут проектировать новые устройства, разрабатывать технологии и создавать производства.
    ._quote
      ._quote-wrap
        ._qoute-text.
          Наш главный <strong>ресурс</strong> – это <strong>люди</strong>. Мы собрали лучшую команду молодых практикующих преподавателей, которые умеют и любят работать с 
          детьми. Вашему ребенку не будет скучно – гарантируем!