.popups {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: 0.4s;
  &__wrap {
    align-items: center;
  }
  &__close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 19px;
    right: 19px;
    width: 32px;
    height: 32px;
    border: 2px solid #FFB718;
    border-radius: 50%;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }
    @media(max-width: 575px) {
      top: 9px;
      right: 9px;
    }
  }
  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 434px;
    margin: 100px 0;
    padding: 45px 0;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.04);
    border-radius: 20px 20px 20px 105px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    @media(max-width: 1199px) {
      margin: 0 0 0 40px;
    }
    @media(max-width: 991px) {
      margin: 40px 0 0 0;
    }
    @media(max-width: 575px) {
      width: 290px;
      border-radius: 20px 20px 20px 60px;
      padding: 30px 0;
    }
  }
  &__subtitle {
    font-weight: 900;
    font-size: 28px;
  }
  &__form-note {
    margin: 6px 0 13px 0;
    font-weight: 300;
    font-size: 14px;
    color: #737373;
    text-align: center;
  }
  &__form-label {
    display: flex;
    flex-shrink: 0;
    padding: 0 20px;
    position: relative;
    width: 354px;
    height: 40px;
    border: 2px solid #EAEAEA;
    border-radius: 20px;
    transition: 0.2s;
    margin-top: 17px;
    &:hover {
      border-color: #97CC35;
      .mainform__form-svg {
        fill: #97CC35;
      }
    }
    @media(max-width: 575px) {
      width: 90%;
    }
  }
  &__form-input {
    width: 90%;
    border: none;
    &:focus {
      .mainform__form-label {
        border-color: #97CC35;
      }
      +.mainform__form-svg {
        fill: #97CC35;
      }
    }
  }
  &__form-svg {
    position: absolute;
    right: 15px;
    top: 7px;
    transition: 0.2s;
  }
  &__checkbox {
    display: flex;
    align-items: center;
    margin-top: 20px;
    @media(max-width: 575px) {
      width: 80%;
      justify-content: center;
    }
  }
  &__checkbox-real {
    display: none;
    &:checked {
      +.popups__checkbox-fake {
        .popups__check-svg{
          fill: #000000;
        }
      }
    }
  }
  &__checkbox-fake {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: 1px solid #000000;
    background-color: #ffffff;
    cursor: pointer;
    transition: 0.2s;
  }
  &__checkbox-text {
    margin: 0 5px;
    font-weight: 300;
    font-size: 14px;
    color: #737373;
    user-select: none;
    @media(max-width: 575px) {
      margin: 0 5px 0 15px;
    }
  }
  &__check-svg {
    fill: #ffffff;
  }
  &__btn {
    margin-top: 30px;
    width: 270px;
    height: 40px;
    background: transparent;
    border: 2px solid #97CC35 ;
    transition: 0.2s;
    border-radius: 18px 18px 18px 105px;
    color: #97CC35;
    line-height: 21px;
    cursor: pointer;
    &:hover {
      color: #FFFFFF;
      background: #97CC35;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    }
    &:active {
      box-shadow: none;
    }
    @media(max-width: 991px) {
      color: #FFFFFF;
      background: #97CC35;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    }
    @media(max-width: 575px) {
      width: 90%;
      border-radius: 18px 18px 18px 40px;
    }
  }
}
.opacity {
  // display: flex;
  opacity: 1;
}