.methods.section(data-link="prepod")
  ._wrap.wrap
    ._method
      ._descripton
        h2._title.section__title.section__title_green Наша методика обучения
        ._text
          ._text-item.
            <strong>Наше</strong> программное и аппаратное обеспечение является 
            <strong>полностью</strong> открытым и бесплатным – это краеугольный камень 
            философии Роббо Клуба и <strong>общемировая</strong> тенденция обучения 
            программированию в школах. 
          ._text-item.
            Исходный код ПО <strong>должен</strong> быть открытым и понятным, чтобы ребенок мог его изменять. 
            Любая деталь робота может быть собрана и перепрограммирована ребенком 
            <strong>самостоятельно</strong> – так мы развиваем в детях инженерный потенциал. 
          ._text-item.
            Учебный <strong>процесс</strong> в Роббо Клубе – это <strong>продуманная</strong> программа из 
            теоретических и практических занятий.
      ._image
        img(src="img/method.svg", alt="methods")._img
    ._method.-creative
      ._descripton
        h2._title.section__title.section__title_orange Атмосфера открытого творчества
        ._text
          ._text-item.
            <strong>Занятия</strong> робототехникой – это дружеская и теплая атмосфера в 
            классах, непринужденное общение на равных учеников и опытных преподавателей, 
            которые умеют увлечь и заинтересовать каждого ребенка – непоседу и тихоню.
          ._text-item.
            <strong>Наши</strong> ученики не только знакомятся с принципами свободных и открытых 
            технологий, но и учатся их создавать, работая в коллективе.
      ._image
        img(src="img/creative.svg", alt="creative")._img