.faq.section
  ._wrap.wrap
    h2._title.section__title.section__title_orange Часто задаваемые вопросы
    ._list
      ._list-item
        ._list-question
          ._list-overlay
          ._list-text У моего ребенка не было опыта в программировании. Подойдет ли ему курс?
          +svg('slider-arrow', 'faq__close')
        ._list-answer.
          Наши занятия могут посещать дети, которые ранее не занимались 
          программированием. Главное, чтобы ребенок умел читать. При этом у 
          нас есть занятия и для детей, которые уже знают, что такое программирование 
          и хотят получить более глубокие знания.
      ._list-item
        ._list-question
          ._list-overlay
          ._list-text Сколько детей занимается за одним комплектом оборудования?
          +svg('slider-arrow', 'faq__close')
        ._list-answer За одним комплектом оборудования занимается один ребенок.
      ._list-item
        ._list-question
          ._list-overlay
          ._list-text Существуют ли дополнительные занятия?
          +svg('slider-arrow', 'faq__close')
        ._list-answer.
          Да, у нас есть дополнительные опциональные курсы, в том числе подготовка 
          к соревнованиям по спортивному программированию.
      ._list-item
        ._list-question
          ._list-overlay
          ._list-text Что нужно приносить с собой на занятие?
          +svg('slider-arrow', 'faq__close')
        ._list-answer.
          Ничего, кроме сменной обуви. На занятии каждый ребенок получает индивидуальную 
          единицу оборудования, а также раздаточные и пишущие материалы.
      ._list-item
        ._list-question
          ._list-overlay
          ._list-text Насколько заранее нужно приходить на занятие?
          +svg('slider-arrow', 'faq__close')
        ._list-answer.
          Достаточно прийти за 10-15 минут до начала занятия, чтобы ребенок успел 
          надеть сменку и настроиться на рабочий лад.
      ._list-item
        ._list-question
          ._list-overlay
          ._list-text Что делать родителям во время занятия?
          +svg('slider-arrow', 'faq__close')
        ._list-answer.
          Занятия Роббо Клуба проходят в библиотеке, поэтому у родителей, которые 
          ждут своих детей, есть прекрасная возможность воспользоваться ее 
          книжным фондом. Или присутствовать на занятии вместе со своим ребенком.
      ._list-item
        ._list-question
          ._list-overlay
          ._list-text Сколько в группе будет человек?
          +svg('slider-arrow', 'faq__close')
        ._list-answer Среднее количество детей в группе – 6-8 человек.