.faq#result.section
  ._wrap.wrap
    h2._title.section__title.section__title_orange Результат подтверждают
    ._list
      ._list-item
        ._list-question
          ._list-overlay
          ._list-text Навыки курса «Программирование и робототехника»
          +svg('slider-arrow', 'faq__close')
        ._list-answer
          ._list-string Работа с компьютером
          ._list-string Основы программирования
          ._list-string.
              Самостоятельная работа над прикладным проектом, который решает 
              насущные задачи (метеостанция, робот-пылесос и т.д.)
          ._list-string Работа в команде (распределение ролей и обязанностей, постановка задач)
          ._list-string Публичная презентация и продвижение проекта
      ._list-item
        ._list-question
          ._list-overlay
          ._list-text Навыки курса «3D-моделирование и 3D-печать»
          +svg('slider-arrow', 'faq__close')
        ._list-answer
          ._list-string Разработка простых 3D-моделей
          ._list-string Разработка и реализация готового дизайна
          ._list-string.
              Самостоятельная работа над прикладным проектом, который решает насущные
               задачи (метеостанция, робот-пылесос и т.д.) 
          ._list-string Работа в команде (распределение ролей и обязанностей, постановка задач)
          ._list-string Публичная презентация и продвижение проекта
      ._list-item
        ._list-question
          ._list-overlay
          ._list-text Навыки курса «Схемотехника и микроэлектроника»
          +svg('slider-arrow', 'faq__close')
        ._list-answer
          ._list-string Работа с компонентами электронных устройств
          ._list-string Создание электронных устройств «с нуля» 
          ._list-string Работа с платой Arduino
          ._list-string Программирование электронных устройств, в том числе роботов
          ._list-string.
              Самостоятельная работа над прикладным проектом, который
              решает насущные задачи (метеостанция, робот-пылесос и т.д.)  
          ._list-string Работа в команде (распределение ролей и обязанностей, постановка задач)
          ._list-string Публичная презентация и продвижение проекта
      ._list-item
        ._list-question
          ._list-overlay
          ._list-text Навыки курса «Виртуальный Умный дом»
          +svg('slider-arrow', 'faq__close')
        ._list-answer
          ._list-string Программирование
          ._list-string Автоматизация оборудования
          ._list-string.
              Самостоятельная работа над прикладным проектом, который
              решает насущные задачи (метеостанция, робот-пылесос и т.д.)  
          ._list-string Работа в команде (распределение ролей и обязанностей, постановка задач)
          ._list-string Публичная презентация и продвижение проекта