.map.section(data-link="contacts")
  ._wrap.wrap
    h2._title.section__title.section__title_green Где мы находимся
    h3._subtitle Выберите наиболее удобный для вас адрес
    ._switcher
      ._switcher-label.-active#onMap на карте
      ._switcher-track
        ._switcher-circle
      ._switcher-label#list списком
    ._content
      ._onmap.visible
        img(src="img/map.png", alt="")
      ._list
        ._list-item
          ._address <b>Москва</b>, ул. Коненкова, 23 библиотека 52<br> (м. Бибирево, м. Алтуфьево)
          button._btn Записаться на пробный урок
        ._list-item
          ._address <b>Москва</b>, Звездный б-р, 4 библиотека 60<br> (м. ВДНХ)
          button._btn Записаться на пробный урок
