.menu
  ._wrap
    ._close-btn
      +svg('return-adv', 'modals__close-svg')
    ._title
      img(src="img/green-logo.png", alt="robboclub")._title-logo
      |Клуб робототехники <br>и программирования
    ._nav
      a(href="#" data-link="about")._nav-link О нас
      a(href="#" data-link="program")._nav-link Программа
      a(href="#" data-link="prepod")._nav-link Обучение
      a(href="#" data-link="life")._nav-link Занятия
      a(href="#" data-link="feedback")._nav-link Отзывы
      a(href="#" data-link="faq")._nav-link FAQ
      a(href="#" data-link="contacts")._nav-link Контакты

//footer phone e-mail