.principles {
  padding: 40px 0;
  &__wrap {
    flex-direction: row;
    @media(max-width: 991px) {
      flex-direction: column;
    }
  }
  &__title {
    text-align: left;
  }
  &__content {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 90px 0 0;
    @media(max-width: 1199px) {
      padding: 0 20px 0 0;
    }
    @media(max-width: 991px) {
      width: 100%;
      align-items: center;
      padding: 0;
    }
  }
  &__slider-main {
    width: 100%;
    @media(max-width: 991px) {
      justify-content: center;
    }
  }
  &__slide-main {
    background: #fbfbfb;
    height: 430px;
    @media(max-width: 991px) {
      display: flex;
      justify-content: center;
      height: 300px;
    }
  }
  &__slider-title {
    position: relative;
    width: 65%;
    margin: 60px 70px 0 0;
    align-self: center;
    @media(max-width: 991px) {
      margin: 60px 0 0 0;
      width: 40%;
    }
  }
  &__slide-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 276px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.04);
    border-radius: 50px;
    font-weight: 500;
    color: #FD900A;
  }
  &__slide-title-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__desc-slider {
    width: 100%;
    margin-top: 45px;
  }
  &__desc-slide {
    background: #fbfbfb;
    height: 210px;
    @media(max-width: 991px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 180px;
      text-align: center;
    }
  }
  &__desc-title {
    font-weight: 500;
    font-size: 24px;
    color: $text-color;
  }
  &__desc-text {
    margin-top: 17px;
    // font-weight: 500;
    color: $text-color;
    line-height: 24px;
  }
}